<link href="~/Contents/Styles/Footer.css" rel="stylesheet" type="text/css" />

<div id="footer">
    <div class="column">
    <h3>Thông tin</h3>
    <ul>
            <li><a href="">Về Chúng Tôi</a></li>
            <li><a href="">Giao Hàng Tận Nơi</a></li>
            
          </ul>
  </div>
    <div class="column">
    <h3>Chăm sóc khách hàng</h3>
    <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">Quy Định Bảo Hành</a></li>
    </ul>
  </div>

  <div class="column">
    <h3>Chức năng khác</h3>
    <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">Quy Định Bảo Hành</a></li>
    </ul>
  </div>
  
    
</div>


