<link href="~/Contents/Styles/Header.css" rel="stylesheet" type="text/css" />

<div id="d-header-logo">
    <a href="/">
        <img src="~/Contents/Images/Home/logo.png" />
    </a>

</div>

<div id="d-header-search">

    <div id="d-header-button-search"></div>
    <input type="text" value="" placeholder="Tìm kiếm" name="search" />

</div>
