<link href="~/Contents/Styles/Header.css" rel="stylesheet" type="text/css" />

<div id="d-header-logo">
    <a href="/">
        <img src="~/Contents/Images/Home/logo.png" />
    </a>

</div>
<div id="d-header-data">
    <ul>
        <li class="d-left-li ">

            <span style="font-weight:bold;color: rgb(35, 135, 22); font-size:16px;margin-bottom:10px;">■ Chuyên sửa chữa Laptop, Mua bán, Trao đổi, Cung cấp linh kiện Laptop</span>
        </li>
    </ul>
    <ul style="margin-top: 5px;margin-bottom:10px;">
        <li class="d-left-li ">
            <span style="font-weight:bold;color: rgb(35, 135, 22); font-size:16px;margin-bottom:10px;">■ Địa chỉ: 61/6m Phạm Văn Chiêu, Phường 14, Quận Gò Vấp, HCM</span>
        </li>
    </ul>
    <span style="margin-left:100px;font-weight:bold;color: rgb(35, 135, 22); font-size:15px;margin-bottom:15px;">Thông tin liên hệ: </span>
    <ul style="margin-left:220px;margin-top:10px;">
        <li class="d-left-li ">
            - <img src="/Contents/Images/Home/icon_yahoo.png">
            <a style="margin-left: 3px; text-align: left; text-decoration: none; font-weight: bold;" href="ymsgr:sendim?tran_bao16">tran_bao16</a>
        </li>
        <li class="d-left-li ">
            - <img src="/Contents/Images/Home/icon_phone.jpg">
            <a style="margin-left: 3px; text-align: left; text-decoration: none; font-weight: bold;">0932.061.639</a>
        </li>
        <li class="d-left-li ">
            - <img src="/Contents/Images/Home/icon_email.png">
            <a style="margin-left: 3px; text-align: left; text-decoration: none; font-weight: bold;" href="mailto:tranbaolaptop@gmail.com">tranbaolaptop@gmail.com</a>
        </li>
    </ul>


</div>

<div id="d-header-search">
    <form action="@Url.Action("SearchPoducts","Home")">
        <input type="submit" value="" id="d-header-button-search" onclick="if ($('#d-header-textbox-search').val().length == 0) { return false; }"/>
    <input id="d-header-textbox-search" type="text" value="" placeholder="Tìm kiếm" name="searchValue" />
    </form>
</div>

@*<script type="text/javascript">
    $("#d-header-button-search").click(function () {
        var valueSearch = $("#d-header-textbox-search").val();
        $.post("@Url.Action("SearchPoducts","Home")?searchValue=" + valueSearch, function() {
        });
    });
</script>*@