/* Overall page format */
#d-page
{
    width: 100%;
}

#d-header
{
    width: 100%;
    min-height: 0px;
}

#d-content
{
    width: 1000px;
    margin: 0 auto;
}

#d-banner
{
    width: 1000px;
    margin: 0 auto;
}

#d-topmennu
{   
    height:200px;
    width:100%;
    background:url("/Contents/Images/Home/menu_top_bg.png") no-repeat left top;
    overflow:hidden;
}
table#d-table-main
{
    width: 100%;
}

.d-split-col
{
    width: 10px;
}

.d-split-row
{
    height: 5px;
    min-height: 5px;
}

#d-left
{
    width: 170px;
    border: 1px solid black;
    min-height: 100px;
    padding:0px 5px;
}

#d-center
{
    width: 600px;
    border: 1px solid black;
    min-height: 600px;
    padding:0px 5px;
}

#d-right
{
    padding:0px 5px;
    width: 200px;
    border: 1px solid black;
    min-height: 600px;
}

#d-footer
{
    width: 100%;
    min-height: 350px;
    background-color: Aqua;
}
