#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
}
#footer h3 {
	color: #333;
	font-size: 17px;
	margin-top: 0px;
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 1px solid #DBDEE1;
}
#footer .column {
	float: left;
	width: 23%;
	padding: 1%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}
#footer .column ul li {
	margin-bottom: 3px;
	padding-left: 5px;
	border-bottom: 1px solid #DBDEE1;
}
#footer .column a {
	text-decoration: none;
	color: #000;
	line-height: 22px;
	color: #555;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
	color: #999;
}
#powered a {
    color: #777;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
a.cart-button, input.cart-button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 15px;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background: #FF9400 url('../image/cart-button.png') top left no-repeat;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
a.cart-button {
	display: inline-block;
	text-decoration: none;
	padding: 11px 12px 10px 24px;
}
input.cart-button {
	margin: 0;
	border: 0;
	height: 36px;
	padding: 0px 12px 0px 24px;
	margin-bottom: 4px;
}
a.cart-button:hover, input.cart-button:hover {
	background: #FF9400 url('../image/cart-button-active.png') top left no-repeat;
	text-shadow: 0 0 1px #333;
}
.side-box {
	width: 100%;
	overflow: auto;
}
.side-box > div {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
	text-align: left;
}
.side-box .image {
	display: inline-block;
	margin-bottom: 0px;
	float: left
}
.side-box .image img {
    width: 45px;
	height: 45px;
	padding-right: 4px;
}
.side-box .name {
	margin-bottom: 3px;
}
.side-box .name a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 2px;
   -moz-transition: color .5s ease-in-out;
   -webkit-transition: color .5s ease-in-out;
   transition: color .5s ease-in-out;
   -o-transition: color .5s ease-in-out;
}
.side-box .name a:hover {
   color: #000;
}
.side-box .price {
	display: block;
	font-weight: bold;
	color: #2D9E00;
	margin-bottom: 4px;
	font-size: 13px;
}
.side-box .price-old {
	color: #F00;
	text-decoration: line-through;
}
.side-box .price-new {
	font-weight: bold;
}
.side-box .rating {
	display: block;
	margin-bottom: 4px;
}
.side-box .cart {
    display: none;
}
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 15px;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background: #49B712 url('../image/button.png') top left no-repeat;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 11px 12px 10px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 36px;
	padding: 0px 12px 0px 12px;
	margin-bottom: 4px;
}
a.button:hover, input.button:hover {
	background: #57D418 url('../image/button.png') top left no-repeat;
	text-shadow: 0 0 1px #333;
}