.line-top {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 15px;
}

.line-bottom {
    border-bottom: 1px solid #EEEEEE;
    margin-top: 15px;
}

.product-grid {
    width: 100%;
}

.product-grid > div {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 0px;
	margin-left: 4px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #e7e7e7;
	text-align: center;
	padding: 3px;
}

.prod-image  {
    display: block;
    margin: 0px auto;
}

.product-grid .prod-name {
    min-height: 32px;
    margin-top: 5px;
	margin-bottom: 3px;
	border-bottom: 1px solid #e7e7e7;
}

.product-grid .prod-name a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 2px;
   -moz-transition: color .5s ease-in-out;
   -webkit-transition: color .5s ease-in-out;
   transition: color .5s ease-in-out;
   -o-transition: color .5s ease-in-out;
}


.product-grid .prod-price {
	display: block;
	font-weight: bold;
	padding-bottom: 1px;
	color: #2D9E00;
	margin-bottom: 4px;
	font-size: 15px;
	/*border-bottom: 1px solid #e7e7e7;*/
}






.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #2D9E00;
	font-size: 12px;
	font-size: 16px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}





#tabs ul
{
    margin-top: 10px;
    display: block;
    width: 100%;
}

    #tabs ul li
    {
        display: inline-block;
        margin-right: -4px;
    }

        #tabs ul li:focus
        {
        }

        #tabs ul li a
        {
            padding: 8px 20px;
            text-decoration: none;
            border: 1px solid Black;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background: #b00 url('~Content/Images/menubg.png') repeat-x;
            color: #FFFFFF;
            font-style: normal;
        }


            #tabs ul li a:focus
            {
                background: #222 url('~Content/Images/menubg.png') repeat-x;
                font-style: italic;
            }

#tabs div
{
    margin-top:9px;    
    font-weight: bold;
}





/* button */

.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 15px;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	font-weight: bold;
	background: #49B712 url('../image/button.png') top left no-repeat;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 11px 12px 10px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 36px;
	padding: 0px 12px 0px 12px;
	margin-bottom: 4px;
}
a.button:hover, input.button:hover {
	background: #57D418 url('../image/button.png') top left no-repeat;
	text-shadow: 0 0 1px #333;
}


.htabs {
	height: 34px;
	line-height: 16px;
}
.htabs a {
	background: #b00 url('~Content/Images/menubg.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: 'Signika', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-right: 4px;
	display: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.htabs a.selected {
	background: #222 url('~Content/Images/menubg.png') repeat-x;
}
.tab-content {
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
