<link href="~/Contents/Styles/slideshow.css" rel="stylesheet" />
<script src="~/Contents/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Contents/Scripts/jqFancyTransitions.1.8.min.js" type="text/javascript"></script>

<img src="~/Contents/Images/Home/logo_2.png" />
<br />
<br />

<div id='slideshowHolder1'>
    
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_dell.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_intel.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_hp.png" alt='' />    </a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_compaq.png" alt='' /></a>
    @*<a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_gygabyte.png" alt='' /></a>*@
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_sony.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_acer.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_gateway.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_samsung.png" alt='' /></a>
    <a href="http://govapsualaptop.com"><img src="~/Contents/Images/Home/logo_toshiba.png" alt='' /></a>
</div>

<script>
    $(document).ready(function () {
        $('#slideshowHolder1').jqFancyTransitions({ width: 185, height: 185 });
    });
</script>
