<div class="d-left-box">
    <div class="d-left-box-heading">
        Sản phẩm Mới nhất
    </div>
    <div class="d-left-box-body">

        @*            @{
                foreach (var cat in Model)
                {
                *@
        <div class="d-left-box-body-item">
            Item
        </div>
        <div class="d-left-box-body-item">
            Item
        </div>
        <div class="d-left-box-body-item">
            Item
        </div>
        @*                }
    
            }*@

    </div>

</div>
