@model IList<Service.DTO.ProductOverviewDto>

<div class="d-left-box">
    <div class="d-left-box-heading">
        Sản phẩm Mới nhất
    </div>
    <div class="d-left-box-body">

        @{
            foreach (var product in Model)
            {
                
            <div class="d-left-box-body-item">
                <table>
                    <tr>
                        <td class="d-left-box-image">@product.image</td>
                        <td>
                            <div class="d-left-box-title">@product.name</div>
                            <div class="d-left-box-price">@product.price</div>
                        </td>
                    </tr>
                </table>
            </div>
            }
    
        }

    </div>

</div>
