@model IList<Service.DTO.ProductOverviewDto>

<div class="d-left-box">
    <div class="d-left-box-heading">
        Sản phẩm Mới nhất
    </div>
    <div class="d-left-box-body">
        @if (Model != null)
        {

            foreach (var product in Model)
            {
                
            <div class="d-left-box-body-item">
                <table>
                    <tr>
                        <td class="d-left-box-image">@product.Image</td>
                        <td>
                            <div class="d-left-box-title">@product.Name</div>
                            <div class="d-left-box-price">@product.Price</div>
                        </td>
                    </tr>
                </table>
            </div>
            }
        }
    </div>

</div>
