<div class="d-left-box">
    <div class="d-left-box-heading">
        Tìm kiếm sản phẩm
    </div>
    <div class="d-left-box-body">
        <form action="">


        </form>

    </div>

</div>
