@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/_Layout/_Index.cshtml";
}

<div align="center">
    <br>
    <div class="folder-content02 Folderbg">
        <span style="color: rgb(0, 128, 0);"><span style="font-size: 18px;"><strong><h1>Uy&nbsp;
 Tín&nbsp; Để&nbsp; Tồn&nbsp; Tại</h1> <br />&nbsp; Quý&nbsp; Khách&nbsp; 
Hàng&nbsp; Là&nbsp; Thượng&nbsp; Đế&nbsp; Chúng&nbsp; Tôi&nbsp; Sẽ&nbsp; Phục&nbsp; Vụ&nbsp; Hết&nbsp; Mình&nbsp; Vì&nbsp; Khách&nbsp; 
Hàng .Mong&nbsp; Quý&nbsp; Khách&nbsp; Hàng&nbsp; Ủng&nbsp; Hộ&nbsp; Cty&nbsp; Chúng&nbsp; Tôi.Cám&nbsp; Ơn&nbsp; Quý&nbsp; 
Khách&nbsp; Ghé&nbsp; Thăm&nbsp; Cty&nbsp; Chúng&nbsp; Tôi<br>
            <br>
            &nbsp;&nbsp; Dịch Vụ Của Cty&nbsp; </strong></span></span><span style="color: rgb(255, 0, 0);"><span style="font-size: 18px;"><strong><u>LAPTOP-TRẦN</u><u> BẢO</u></strong></span></span><span style="color: rgb(0, 128, 0);"><span style="font-size: 18px;"><strong>&nbsp; Phục Vụ Khách hàng</strong></span></span>
    </div>
    <font size="4"><br></font><font size="3"><b><font color="red"><i>Bất  cứ lúc nào, bất cứ ở đâu, hãy liện   hệ    
 ngay        với chúng tôi khi laptop của  bạn bị sự cố. Chúng tôi   
luôn     tận  tụy     lắng   nghe và sẵn sàng phục vụ Quý  Khách. Nhân  
viên   kỹ    thuật  của   Công   Ty sẽ   đến tận nơi quý khách để nhận  
 máy,  quý     khách sẽ  không   phải trả   thêm  bất  kỳ khoản phí nào 
 về giao  nhận      máy tận  nơi.</i></font></b><br><br><u><font color="#0000FF"><u><b><font color="red"></font></b></u></font><font color="#0000FF"><u><b><font color="red"><i>CHÚ Ý: Cam kết không thay thế linh kiện của khách hàng<br><br></i></font></b></u></font></u><b><u>BÁO GIÁ SỬA CHỮA,THAY THẾ LINH KIỆN TẠI CTY LAPTOP-TRẨN BẢO</u></b></font>

    <font size="3"><br><br><b>(Bảo hành ít nhất 03 tháng tùy theo từng linh kiện thay mới hoặc sửa chữa)</b></font>

    <font size="3"><b> Tất cả sẽ được báo giá trước khi làm</b></font>.<br>
</div>

