@{

    ViewBag.Title = "Trần Bảo Laptop";
    Layout = "~/Views/_Layout/_Index.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/Component/SlideShowCenter',
            success: function (result) {
                $("#ajaxSlideShowCenter").html(result);
            },
            error: function () {
            }
        });

        $.ajax({
            url: '/Component/HotCategories',
            success: function (result) {
                $("#ajaxHotCategories").html(result);
            },
            error: function () {
            }
        });
    });
</script>
<title>@ViewBag.Title</title>
<!-- Slide show here -->
<div id="ajaxSlideShowCenter"></div>
<br />
<div id="ajaxHotCategories"></div>
@*@Html.Action("HotCategories", "Component")*@
<!-- Code Product here -->
