@using Website.ExtensionMethod
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Detail</title>
</head>
<body>
    <div>
       
    </div>
</body>
</html>
