@{
    var gmail = "@gmail.com";
    
}
<div class="d-left-box">
    <div class="d-left-box-heading">
        Hỗ trợ Online
    </div>
    <div class="d-left-box-body">
        <ul>
            <li class="d-left-li ;" style="margin:5px 5px;">
                <img src="/Contents/Images/Home/icon_yahoo.png">
                <a style="margin-left: 3px; text-align: left;text-decoration:none;font-weight:bold;" href="ymsgr:sendim?tran_bao16">tran_bao16</a>
            </li>
            <li class="d-left-li " style="margin:5px 5px;">
                <img src="/Contents/Images/Home/icon_phone.jpg">
                <a style="margin-left: 3px; text-align: left;text-decoration:none;font-weight:bold;">0932061639</a>
            </li>
            <li class="d-left-li " style="margin:5px 5px;">
                <img src="/Contents/Images/Home/icon_email.png">
                <a style="margin-left: 3px; text-align: left;text-decoration:none;font-weight:bold;" href="mailto:tranbaolaptop@gmail.com">tranbaolaptop<span style="font-size:10px;font-weight:normal;vertical-align:text-bottom" >@gmail</span></a>
            </li>
        </ul>

    </div>

</div>
