@model IList<Service.DTO.ProductDto>

<div class="d-left-box">
    <div class="d-left-box-heading">
        Sản phẩm Mới nhất
    </div>
    <div class="d-left-box-body">

        @{
            foreach (var product in Model)
            {
                
            <div class="d-left-box-body-item">
                @product.Name <br />
                @product.Code <br />
                @product.Description
            </div>
            }
    
        }

    </div>

</div>
