@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/_Layout/_Mod.cshtml";
}


    <form method="post" id="submitPost" action="@Url.Action("ChangePassword", "Mod")" >


            <fieldset style="width: 48%; float: left; padding-right: 20px;">
                <h4 class="@ViewBag.Display">@ViewBag.Type</h4>
                <div class="clear" style="height:20px"></div>
                <label>Mật khẩu cũ </label>
                <input type="text" name="oldPass" />
                <label>Mật khẩu mới</label>
                <input type="text" name="newPass" />
                <label>Xác nhận Mật khẩu mới</label>
                <input type="text" name="newPassConfirm" />
                <div class="clear" style="height:10px"></div>
                <div style="width:100%;margin:0 auto;text-align: center;">
                <input type="submit" style="" value="Đối mật khẩu" />
                    </div>
            </fieldset>

    </form>


