
<div id="supermenu">
    <ul>
        <li class="tlli" ><a class="tll" href="/">Trang chủ</a></li>
        <li class="tlli" ><a class="tll" href="@Url.Action("AboutUs","Home")">Giới thiệu</a></li>
        <li class="tlli" ><a class="tll" href="http://localhost:44358/Home/Category/17">Sửa chữa Laptop</a></li>
        <li class="tlli" ><a class="tll" href="@Url.Action("Contact","Home")">Liên hệ</a></li>
        <li class="tlli" ><a class="tll" href="@Url.Action("OtherProduct","Home")">Sản phẩm khác</a></li>
    </ul>
</div>