
@{

    ViewBag.Title = "Trần Bảo Laptop";
    Layout = "~/Views/_Layout/_Index.cshtml";
}
<title>@ViewBag.Title</title>
<!-- Slide show here -->
@Html.Action("SlideShowCenter", "Component")
<br />
@Html.Action("HotCategories","Component")
<!-- Code Product here -->
