@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/_Layout/_Admin.cshtml";
}


<article class="module width_full">
    <header>

        <h3>Đổi mật khẩu

        </h3>

    </header>
    <div class="module_content">
        <form method="post" id="submitPost" action="@Url.Action("ChangePasswordRequest", "Request")" >
            <fieldset>

                <label>Mật khẩu cũ </label>
                <input type="text" name="oldPass" />
                <label>Mật khẩu mới</label>
                <input type="text" name="newPass" />
                <label>Xác nhận Mật khẩu mới</label>
                <input type="text" name="newPassConfirm" />
                <input type="submit" value="Đối mật khẩu" />
            </fieldset>
        </form>
    </div>
    <footer>
    </footer>
</article>

