<link href="~/Contents/Styles/Header.css" rel="stylesheet" type="text/css" />

<div id="d-header-logo">
    <a href="http://vitinhantin.com/">
        <img alt="Vi Tính An Tín" title="Vi Tính An Tín" src="http://vitinhantin.com/image/data/logo/150x90.gif"></img>
    </a>

</div>

<div id="d-header-search">

    <div id="d-header-button-search"></div>
    <input type="text" value="" placeholder="Tìm kiếm" name="search"></input>

</div>