@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/_Layout/_Admin.cshtml";
}
<form method="post" action="@Url.Action("AddCategoryRequest", "Request")" >
    <fieldset>
     <table class="tablesorter">
        <tr>
            <td>Danh mục cha</td>
            <td>
                
                    <input type="checkbox" name="isChild" />
                    <select style="width: 92%;">
                        <option>AA </option>
                        <option>BBB </option>
                        <option>CCC </option>
                    </select>
                    <input type="hidden" name="ParentName" />
                
            </td>
        </tr>
        <tr>
            <td>Tên</td>
            <td>
                
                    <input type="text" name="CategoryName" />
                

            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Thêm" /></td>
        </tr>
    </table>
   </fieldset>
</form>
